In [1]:
import pandas as pd
import numpy as np

In [38]:
laptops = pd.read_csv("C:/Users/obalana prosper/Videos/New folder (3)/laptops.csv",encoding = 'Latin-1')
print("laptops added successfully")

laptops added successfully

In [39]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
Manufacturer                1303 non-null object
Model Name                  1303 non-null object
Category                    1303 non-null object
Screen Size                 1303 non-null object
Screen                      1303 non-null object
CPU                         1303 non-null object
RAM                         1303 non-null object
 Storage                    1303 non-null object
GPU                         1303 non-null object
Operating System            1303 non-null object
Operating System Version    1133 non-null object
Weight                      1303 non-null object
Price (Euros)               1303 non-null object
dtypes: object(13)
memory usage: 132.4+ KB

### Cleaning Column Names

In [40]:
laptops.columns

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', ' Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

In [41]:
laptopss = laptops.columns
new_columns = []
for row in laptopss:
    clean_c = row.strip()
    new_columns.append(clean_c)

In [42]:
laptops.columns = new_columns

In [43]:
laptops.columns

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', 'Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

In [44]:
def clean_col(col):
    col = col.strip()
    col = col.lstrip()
    col = col.rstrip()
    col = col.replace("Operating System","os")
    col = col.replace("(","")
    col = col.replace(")","")
    col = col.replace(" ","_")
    col = col.lower()
    return col

new_columns = []
for c in laptops.columns:
    clean_c = clean_col(c)
    new_columns.append(clean_c)

In [45]:
laptops.columns = new_columns
print(laptops.columns)

Index(['manufacturer', 'model_name', 'category', 'screen_size', 'screen',
       'cpu', 'ram', 'storage', 'gpu', 'os', 'os_version', 'weight',
       'price_euros'],
      dtype='object')

### Converting String Columns to Numeric

In [46]:
laptops.iloc[:5,2:5]

    category screen_size                              screen
0  Ultrabook       13.3"  IPS Panel Retina Display 2560x1600
1  Ultrabook       13.3"                            1440x900
2   Notebook       15.6"                   Full HD 1920x1080
3  Ultrabook       15.4"  IPS Panel Retina Display 2880x1800
4  Ultrabook       13.3"  IPS Panel Retina Display 2560x1600

In [47]:
laptops['ram'].unique()

array(['8GB', '16GB', '4GB', '2GB', '12GB', '6GB', '32GB', '24GB', '64GB'],
      dtype=object)

### Removing Non-Digit Characters

In [48]:
laptops['ram'] = laptops['ram'].str.replace('GB','')
laptops['ram'].unique()

array(['8', '16', '4', '2', '12', '6', '32', '24', '64'], dtype=object)

In [51]:
laptops['screen_size'] = laptops['screen_size'].str.replace('"','')
laptops['screen_size'] = laptops['screen_size'].astype(float)
print(laptops['screen_size'].unique())

[13.3 15.6 15.4 14.  12.  11.6 17.3 10.1 13.5 12.5 13.  18.4 13.9 12.3
 17.  15.  14.1 11.3]

In [53]:
laptops['screen_size'].dtypes

dtype('float64')

inplace = True assigns the result to the dataframe

### Renaming Columns

In [54]:
laptops.rename({'screen_size':'screen_size_inches'}, axis = 1, inplace = True)
print(laptops.dtypes)

manufacturer           object
model_name             object
category               object
screen_size_inches    float64
screen                 object
cpu                    object
ram                    object
storage                object
gpu                    object
os                     object
os_version             object
weight                 object
price_euros            object
dtype: object

In [58]:
laptops['ram'].astype(int)
laptops.rename({'ram':'ram_gb'}, axis = 1, inplace = True)

In [60]:
laptops['ram_gb'].describe()

count     1303
unique       9
top          8
freq       619
Name: ram_gb, dtype: object

### Extracting Values from Strings

In [61]:
laptops['gpu'].head().str.split()

0    [Intel, Iris, Plus, Graphics, 640]
1           [Intel, HD, Graphics, 6000]
2            [Intel, HD, Graphics, 620]
3               [AMD, Radeon, Pro, 455]
4    [Intel, Iris, Plus, Graphics, 650]
Name: gpu, dtype: object

In [62]:
laptops['gpu'].head().str.split().str[0]

0    Intel
1    Intel
2    Intel
3      AMD
4    Intel
Name: gpu, dtype: object

In [65]:
cpu_manufacturer = laptops['cpu'].str.split().str[0]

In [66]:
cpu_manufacturer.value_counts()

Intel      1240
AMD          62
Samsung       1
Name: cpu, dtype: int64

### Correcting Bad Values

In [67]:
mapping_dict = {
    'Android':'Android',
    'Chrome OS':'Chrome OS',
    'Linux':'Linux',
    'Mac OS':'macOS',
    'No OS':'No OS',
    'Windows':'Windows',
    'macOS':'macOS'
}
laptops['os'] = laptops['os'].map(mapping_dict)

In [69]:
laptops.isnull().sum()

manufacturer            0
model_name              0
category                0
screen_size_inches      0
screen                  0
cpu                     0
ram_gb                  0
storage                 0
gpu                     0
os                      0
os_version            170
weight                  0
price_euros             0
dtype: int64

### Dropping Missing Values

In [72]:
laptops_no_null_rows = laptops.dropna(axis = 0)

In [73]:
laptops_no_null_cols = laptops.dropna(axis = 1)

### Filling Missing Values

In [75]:
laptops['os_version'].value_counts(dropna = False)

10      1072
NaN      170
7         45
10 S       8
X          8
Name: os_version, dtype: int64

In [77]:
laptops.loc[laptops['os_version'].isnull(),'os'].value_counts()

No OS        66
Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64

In [79]:
laptops.loc[laptops['os']== 'macOS','os_version'] = 'X'

In [80]:
laptops.loc[laptops['os']== 'No OS','os_version'] = 'Unknown'

In [81]:
laptops.loc[laptops['os_version'].isnull(),'os'].value_counts()

Linux        62
Chrome OS    27
Android       2
Name: os, dtype: int64

In [83]:
laptops['weight'].head()

0    1.37kg
1    1.34kg
2    1.86kg
3    1.83kg
4    1.37kg
Name: weight, dtype: object

In [86]:
laptops['weight'] = laptops['weight'].str.replace('kg','')

In [87]:
laptops.rename({'weight':'weight_kg'}, axis = 1, inplace = True)

In [88]:
laptops.to_csv('laptops_cleaned.csv',index = False)