# Guided Project: Exploring Ebay Car Sales Data

In [118]:
import pandas as pd
import numpy as np

### Introduction

In this guided project, we'll work with a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.

The data dictionary provided with data is as follows:

1. `dateCrawled` - When this ad was first crawled. All field-values are taken from this date.
2. `name` - Name of the car.
3. `seller` - Whether the seller is private or a dealer.
4. `offerType` - The type of listing
5. `price` - The price on the ad to sell the car.
6. `abtest` - Whether the listing is included in an A/B test.
7. `vehicleType` - The vehicle Type.
8. `yearOfRegistration` - The year in which the car was first registered.
9. `gearbox` - The transmission type.
10. `powerPS` - The power of the car in PS.
11. `model` - The car model name.
12. `kilometer` - How many kilometers the car has driven.
13. `monthOfRegistration` - The month in which the car was first registered.
14. `fuelType` - What type of fuel the car uses.
15. `brand` - The brand of the car.
16. `notRepairedDamage` - If the car has a damage which is not yet repaired.
17. `dateCreated` - The date on which the eBay listing was created.
18. `nrOfPictures` - The number of pictures in the ad.
19. `postalCode` - The postal code for the location of the vehicle.
20. `lastSeenOnline` - When the crawler saw this ad last online.

### AIM:
The aim of this project is to clean the data and analyze the included used car listings. You'll also become familiar with some of the unique benefits jupyter notebook provides for pandas.

In [119]:
autos = pd.read_csv("C:/Users/obalana prosper/Videos/New folder (3)/autos.csv",encoding = 'Latin-1')
print("autos added successfully")

autos added successfully

In [120]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

From the work we did in the last screen, we can make the following observations:

The dataset contains 20 columns, most of which are strings.
Some columns have null values, but none have more than ~20% null values.

### Cleaning Columns Names

Use the `DataFrame.columns` attribute to print an array of the existing column names.
Copy that array and make the following edits to columns names:
1. `yearOfRegistration` to `registration_year`
2. `monthOfRegistration` to `registration_month`
3. `notRepairedDamage` to `unrepaired_damage`
4. `dateCreated` to `ad_created`

The rest of the columnn names from camelcase to snakecase.
Assign the modified column names back to the DataFrame.columns attribute.

Use DataFrame.head() to look at the current state of the autos dataframe.

In [121]:
cols = {'yearOfRegistration':'registration_year',
        'monthOfRegistration':'registration_month',
        'notRepairedDamage':'unrepaired_damage',
        'dateCreated':'ad_created'
       }

In [122]:
autos.rename(cols,axis = 1, inplace = True)

In [123]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuelType', 'brand',
       'unrepaired_damage', 'ad_created', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [124]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,model,odometer,registration_month,fuelType,brand,unrepaired_damage,ad_created,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

### Initial Exploration and Cleaning

Initially we will look for: - Text columns where all or almost all values are the same. These can often be dropped as they don't have useful information for analysis. - 
Examples of numeric data stored as text which can be cleaned and converted.

The following methods are helpful for exploring the data: - `DataFrame.describe()` (with include='all' to get both categorical and numeric columns) - `Series.value_counts()` and `Series.head()` if any columns need a closer look.

### Instructions

Use DataFrame.describe() to look at descriptive statistics for all columns.
Write a markdown cell noting:
1. Any columns that have mostly one value that are candidates to be dropped
2. Any columns that need more investigation.
3. Any examples of numeric data stored as text that needs to be cleaned.

In [125]:
autos.describe(include = 'all')

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,model,odometer,registration_month,fuelType,brand,unrepaired_damage,ad_created,nrOfPictures,postalCode,lastSeen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-04-04 16:40:33,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

columns with seller offerType and nrOfPictures can be dropped,no useful information can be extracted.

You likely found that the `price` and `odometer` columns are numeric values stored as text. For each column:
1. Remove any non-numeric characters.
2. Convert the column to a numeric dtype.
3. Use DataFrame.rename() to rename the column to odometer_km.

In [126]:
autos['price']

0         $5,000
1         $8,500
2         $8,990
3         $4,350
4         $1,350
5         $7,900
6           $300
7         $1,990
8           $250
9           $590
10          $999
11          $350
12        $5,299
13        $1,350
14        $3,999
15       $18,900
16          $350
17        $5,500
18          $300
19        $4,150
20        $3,500
21       $41,500
22       $25,450
23        $7,999
24       $48,500
25           $90
26          $777
27            $0
28        $5,250
29        $4,999
          ...
49970    $15,800
49971       $950
49972     $3,300
49973     $6,000
49974         $0
49975     $9,700
49976     $5,900
49977     $5,500
49978       $900
49979    $11,000
49980       $400
49981     $2,000
49982     $1,950
49983       $600
49984         $0
49985     $1,000
49986    $15,900
49987    $21,990
49988     $9,550
49989       $150
49990    $17,500
49991       $500
49992     $4,800
49993     $1,650
49994     $5,000
49995    $24,900
49996     $1,980
49997    $13,200
49998    $22,900
49999     $1,250
Name: price, Length: 50000, dtype: object

In [127]:
autos['price'] = autos['price'].str.replace('$','').str.replace(',','')
autos['price'] = autos['price'].astype(float)

In [128]:
autos['price'].dtypes

dtype('float64')

In [129]:
autos['odometer']

0        150,000km
1        150,000km
2         70,000km
3         70,000km
4        150,000km
5        150,000km
6        150,000km
7        150,000km
8        150,000km
9        150,000km
10       150,000km
11       150,000km
12        50,000km
13       150,000km
14       150,000km
15        80,000km
16       150,000km
17       150,000km
18       150,000km
19       150,000km
20       150,000km
21       150,000km
22        10,000km
23       150,000km
24        30,000km
25       150,000km
26       125,000km
27       150,000km
28       150,000km
29       150,000km
           ...
49970     60,000km
49971    150,000km
49972    150,000km
49973    150,000km
49974    150,000km
49975    100,000km
49976    150,000km
49977    150,000km
49978    150,000km
49979     70,000km
49980    125,000km
49981    150,000km
49982     90,000km
49983    150,000km
49984    150,000km
49985    150,000km
49986    125,000km
49987     50,000km
49988    150,000km
49989    150,000km
49990     30,000km
49991    150,000km
49992    125,000km
49993    150,000km
49994    150,000km
49995    100,000km
49996    150,000km
49997      5,000km
49998     40,000km
49999    150,000km
Name: odometer, Length: 50000, dtype: object

In [130]:
autos['odometer'] = autos['odometer'].str.replace('km','').str.replace(',','')
autos.rename({'odometer':'odometer_km'},axis = 1, inplace = True)
autos['odometer_km'] = autos['odometer_km'].astype(float)

In [131]:
autos['odometer_km'].dtypes

dtype('float64')

### Exploring Odometer and Price Column

1. We learned that there are a number of text columns where almost all of the values are the same (seller and offer_type). We also converted the price and odometer columns to numeric types and renamed odometer to odometer_km.

Analyze the columns using minimum and maximum values and look for any values that look unrealistically high or low (outliers) that we might want to remove.

We'll use:
1. Series.unique().shape to see how many unique values
2. Series.describe() to view min/max/median/mean etc
3. Series.value_counts(), with some variations:
chained to .head() if there are lots of values.
Because Series.value_counts() returns a series, we can use Series.sort_index() with ascending= True or False to view the highest and lowest values with their counts (can also chain to head() here).
4. When removing outliers, we can do df[(df["col"] > x ) & (df["col"] < y )], but it's more readable to use df[df["col"].between(x,y)]1. W

In [132]:
autos['price'].unique().shape

(2357,)

In [133]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [134]:
selected_autos = autos['price'].value_counts().head(20)

In [135]:
autos['price'].value_counts().head(20)

0.0       1421
500.0      781
1500.0     734
2500.0     643
1200.0     639
1000.0     639
600.0      531
800.0      498
3500.0     498
2000.0     460
999.0      434
750.0      433
900.0      420
650.0      419
850.0      410
700.0      395
4500.0     394
300.0      384
2200.0     382
950.0      379
Name: price, dtype: int64

Too much variation in the price values too extreme and too high

In [136]:
autos['price'].value_counts().sort_index(ascending = False).head(20)

99999999.0    1
27322222.0    1
12345678.0    3
11111111.0    2
10000000.0    1
3890000.0     1
1300000.0     1
1234566.0     1
999999.0      2
999990.0      1
350000.0      1
345000.0      1
299000.0      1
295000.0      1
265000.0      1
259000.0      1
250000.0      1
220000.0      1
198000.0      1
197000.0      1
Name: price, dtype: int64

Zero dollar does not make sense. It would be ideal to keep it between 1 and 350k

In [137]:
autos['price'].value_counts().sort_index(ascending = True).head(20)

0.0     1421
1.0      156
2.0        3
3.0        1
5.0        2
8.0        1
9.0        1
10.0       7
11.0       2
12.0       3
13.0       2
14.0       1
15.0       2
17.0       3
18.0       1
20.0       4
25.0       5
29.0       1
30.0       7
35.0       1
Name: price, dtype: int64

In [138]:
autos = autos[autos['price'].between(1,350000)]

In [139]:
autos['price'].describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

In [140]:
autos['odometer_km'].unique().shape

(13,)

In [141]:
autos['odometer_km'].describe()

count     48565.000000
mean     125770.101925
std       39788.636804
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [142]:
autos['odometer_km'].value_counts().head(20)

150000.0    31414
125000.0     5057
100000.0     2115
90000.0      1734
80000.0      1415
70000.0      1217
60000.0      1155
50000.0      1012
5000.0        836
40000.0       815
30000.0       780
20000.0       762
10000.0       253
Name: odometer_km, dtype: int64

In [143]:
autos['odometer_km'].value_counts().sort_index(ascending = False).head(13)

150000.0    31414
125000.0     5057
100000.0     2115
90000.0      1734
80000.0      1415
70000.0      1217
60000.0      1155
50000.0      1012
40000.0       815
30000.0       780
20000.0       762
10000.0       253
5000.0        836
Name: odometer_km, dtype: int64

More than 150k km have comprised over 60% of the share, do not feel like there would be any outliners here

In [144]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuelType,brand,unrepaired_damage,ad_created,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manuell,158,andere,150000.0,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatik,286,7er,150000.0,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,golf,70000.0,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000.0,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,2003,manuell,0,focus,150000.0,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

### Exploring the date columns

In [145]:
colss = {'lastSeen' : 'last_seen', 'dateCrawled':'date_crawled'}
autos.rename(colss,axis = 1, inplace = True)

the date_crawled, last_seen, and ad_created columns are all identified as string values by pandas. 

### Instructions

Use the workflow we just described to calculate the distribution of values in the date_crawled, ad_created, and last_seen columns (all string columns) as percentages.
To include missing values in the distribution and to use percentages instead of counts, chain the Series.value_counts(normalize=True, dropna=False) method.
To rank by date in ascending order (earliest to latest), chain the Series.sort_index() method.

In [146]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer_km', 'registration_month', 'fuelType', 'brand',
       'unrepaired_damage', 'ad_created', 'nrOfPictures', 'postalCode',
       'last_seen'],
      dtype='object')

In [147]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [148]:
autos['date_crawled'].str[:10].head()

0    2016-03-26
1    2016-04-04
2    2016-03-26
3    2016-03-12
4    2016-04-01
Name: date_crawled, dtype: object

In [149]:
autos['date_crawled'].describe()

count                   48565
unique                  46882
top       2016-03-29 23:42:13
freq                        3
Name: date_crawled, dtype: object

In [150]:
autos['date_crawled'].value_counts(normalize = True,dropna = False)

2016-03-29 23:42:13    0.000062
2016-03-05 16:57:05    0.000062
2016-03-08 10:40:35    0.000062
2016-03-09 11:54:38    0.000062
2016-04-02 15:49:30    0.000062
2016-03-14 20:50:02    0.000062
2016-03-21 20:37:19    0.000062
2016-03-25 19:57:10    0.000062
2016-03-19 17:36:18    0.000062
2016-03-22 09:51:06    0.000062
2016-03-30 19:48:02    0.000062
2016-03-12 16:06:22    0.000062
2016-04-04 16:40:33    0.000062
2016-03-23 18:39:34    0.000062
2016-04-02 11:37:04    0.000062
2016-03-11 22:38:16    0.000062
2016-03-23 19:38:20    0.000062
2016-03-16 21:50:53    0.000062
2016-03-12 21:55:20    0.000041
2016-03-24 18:46:28    0.000041
2016-03-15 07:55:02    0.000041
2016-03-31 14:52:40    0.000041
2016-04-02 14:52:00    0.000041
2016-03-22 07:52:58    0.000041
2016-03-25 11:49:47    0.000041
2016-03-21 23:36:41    0.000041
2016-03-24 19:48:02    0.000041
2016-03-24 10:55:09    0.000041
2016-03-05 15:49:03    0.000041
2016-04-04 20:36:24    0.000041
                         ...
2016-03-28 00:51:40    0.000021
2016-03-11 20:58:21    0.000021
2016-03-24 11:50:41    0.000021
2016-03-12 00:53:22    0.000021
2016-03-18 10:36:42    0.000021
2016-03-15 19:39:55    0.000021
2016-03-11 19:25:17    0.000021
2016-03-19 07:56:01    0.000021
2016-03-28 17:40:05    0.000021
2016-04-03 18:41:43    0.000021
2016-03-28 19:53:13    0.000021
2016-03-10 22:49:27    0.000021
2016-04-01 23:50:22    0.000021
2016-03-23 10:57:18    0.000021
2016-03-15 07:56:45    0.000021
2016-03-14 18:30:53    0.000021
2016-03-08 14:06:24    0.000021
2016-03-23 12:49:10    0.000021
2016-03-22 22:25:26    0.000021
2016-03-10 21:57:06    0.000021
2016-03-11 16:56:32    0.000021
2016-04-01 13:48:41    0.000021
2016-03-15 09:43:13    0.000021
2016-03-19 15:49:03    0.000021
2016-04-04 15:57:01    0.000021
2016-04-03 12:47:26    0.000021
2016-03-22 15:53:14    0.000021
2016-03-25 20:54:06    0.000021
2016-04-04 00:57:24    0.000021
2016-03-07 18:57:54    0.000021
Name: date_crawled, Length: 46882, dtype: float64

In [151]:
autos['date_crawled'].value_counts(normalize = True,dropna = False).sort_index()

2016-03-05 14:06:30    0.000021
2016-03-05 14:06:40    0.000021
2016-03-05 14:07:04    0.000021
2016-03-05 14:07:08    0.000021
2016-03-05 14:07:21    0.000021
2016-03-05 14:07:26    0.000021
2016-03-05 14:07:40    0.000021
2016-03-05 14:07:45    0.000021
2016-03-05 14:08:00    0.000041
2016-03-05 14:08:05    0.000041
2016-03-05 14:08:27    0.000021
2016-03-05 14:08:42    0.000021
2016-03-05 14:09:02    0.000041
2016-03-05 14:09:05    0.000021
2016-03-05 14:09:20    0.000021
2016-03-05 14:09:22    0.000021
2016-03-05 14:09:38    0.000021
2016-03-05 14:09:46    0.000021
2016-03-05 14:09:56    0.000021
2016-03-05 14:09:57    0.000021
2016-03-05 14:09:58    0.000041
2016-03-05 14:10:18    0.000021
2016-03-05 14:10:20    0.000021
2016-03-05 14:10:46    0.000021
2016-03-05 14:11:03    0.000021
2016-03-05 14:11:05    0.000021
2016-03-05 14:11:14    0.000021
2016-03-05 14:11:15    0.000021
2016-03-05 14:11:25    0.000021
2016-03-05 14:11:40    0.000021
                         ...
2016-04-07 10:36:17    0.000021
2016-04-07 10:36:19    0.000021
2016-04-07 10:36:24    0.000021
2016-04-07 10:36:25    0.000021
2016-04-07 10:36:35    0.000021
2016-04-07 10:36:36    0.000021
2016-04-07 10:36:37    0.000041
2016-04-07 11:06:33    0.000021
2016-04-07 11:36:19    0.000021
2016-04-07 11:36:23    0.000021
2016-04-07 11:36:24    0.000021
2016-04-07 11:36:25    0.000021
2016-04-07 11:36:34    0.000041
2016-04-07 11:36:35    0.000021
2016-04-07 12:06:19    0.000021
2016-04-07 12:06:23    0.000021
2016-04-07 12:25:34    0.000021
2016-04-07 12:25:35    0.000021
2016-04-07 13:06:18    0.000021
2016-04-07 13:25:39    0.000021
2016-04-07 13:36:19    0.000021
2016-04-07 13:36:20    0.000021
2016-04-07 13:36:37    0.000021
2016-04-07 13:36:38    0.000021
2016-04-07 14:07:04    0.000021
2016-04-07 14:30:09    0.000021
2016-04-07 14:30:26    0.000021
2016-04-07 14:36:44    0.000021
2016-04-07 14:36:55    0.000021
2016-04-07 14:36:56    0.000021
Name: date_crawled, Length: 46882, dtype: float64

In [152]:
autos['ad_created'].value_counts(normalize = True,dropna = False).sort_index()

2015-06-11 00:00:00    0.000021
2015-08-10 00:00:00    0.000021
2015-09-09 00:00:00    0.000021
2015-11-10 00:00:00    0.000021
2015-12-05 00:00:00    0.000021
2015-12-30 00:00:00    0.000021
2016-01-03 00:00:00    0.000021
2016-01-07 00:00:00    0.000021
2016-01-10 00:00:00    0.000041
2016-01-13 00:00:00    0.000021
2016-01-14 00:00:00    0.000021
2016-01-16 00:00:00    0.000021
2016-01-22 00:00:00    0.000021
2016-01-27 00:00:00    0.000062
2016-01-29 00:00:00    0.000021
2016-02-01 00:00:00    0.000021
2016-02-02 00:00:00    0.000041
2016-02-05 00:00:00    0.000041
2016-02-07 00:00:00    0.000021
2016-02-08 00:00:00    0.000021
2016-02-09 00:00:00    0.000021
2016-02-11 00:00:00    0.000021
2016-02-12 00:00:00    0.000041
2016-02-14 00:00:00    0.000041
2016-02-16 00:00:00    0.000021
2016-02-17 00:00:00    0.000021
2016-02-18 00:00:00    0.000041
2016-02-19 00:00:00    0.000062
2016-02-20 00:00:00    0.000041
2016-02-21 00:00:00    0.000062
                         ...
2016-03-09 00:00:00    0.033151
2016-03-10 00:00:00    0.031895
2016-03-11 00:00:00    0.032904
2016-03-12 00:00:00    0.036755
2016-03-13 00:00:00    0.017008
2016-03-14 00:00:00    0.035190
2016-03-15 00:00:00    0.034016
2016-03-16 00:00:00    0.030125
2016-03-17 00:00:00    0.031278
2016-03-18 00:00:00    0.013590
2016-03-19 00:00:00    0.033687
2016-03-20 00:00:00    0.037949
2016-03-21 00:00:00    0.037579
2016-03-22 00:00:00    0.032801
2016-03-23 00:00:00    0.032060
2016-03-24 00:00:00    0.029280
2016-03-25 00:00:00    0.031751
2016-03-26 00:00:00    0.032266
2016-03-27 00:00:00    0.030989
2016-03-28 00:00:00    0.034984
2016-03-29 00:00:00    0.034037
2016-03-30 00:00:00    0.033501
2016-03-31 00:00:00    0.031875
2016-04-01 00:00:00    0.033687
2016-04-02 00:00:00    0.035149
2016-04-03 00:00:00    0.038855
2016-04-04 00:00:00    0.036858
2016-04-05 00:00:00    0.011819
2016-04-06 00:00:00    0.003253
2016-04-07 00:00:00    0.001256
Name: ad_created, Length: 76, dtype: float64

In [153]:
autos['last_seen'].value_counts(normalize = True,dropna = False).sort_index()

2016-03-05 14:45:46    0.000021
2016-03-05 14:46:02    0.000021
2016-03-05 14:49:34    0.000021
2016-03-05 15:16:11    0.000021
2016-03-05 15:16:47    0.000021
2016-03-05 15:28:10    0.000021
2016-03-05 15:41:30    0.000021
2016-03-05 15:45:43    0.000021
2016-03-05 15:47:38    0.000021
2016-03-05 15:47:44    0.000021
2016-03-05 16:45:57    0.000021
2016-03-05 16:47:28    0.000021
2016-03-05 17:15:45    0.000021
2016-03-05 17:16:14    0.000021
2016-03-05 17:16:23    0.000021
2016-03-05 17:17:02    0.000021
2016-03-05 17:39:19    0.000021
2016-03-05 17:40:14    0.000021
2016-03-05 17:44:50    0.000021
2016-03-05 17:44:54    0.000021
2016-03-05 17:46:01    0.000021
2016-03-05 18:17:58    0.000021
2016-03-05 18:50:38    0.000021
2016-03-05 19:15:08    0.000021
2016-03-05 19:15:20    0.000021
2016-03-05 19:15:42    0.000021
2016-03-05 19:16:36    0.000021
2016-03-05 19:17:17    0.000021
2016-03-05 19:17:50    0.000021
2016-03-05 19:32:34    0.000021
                         ...
2016-04-07 14:58:09    0.000041
2016-04-07 14:58:10    0.000041
2016-04-07 14:58:12    0.000041
2016-04-07 14:58:13    0.000021
2016-04-07 14:58:14    0.000021
2016-04-07 14:58:17    0.000062
2016-04-07 14:58:18    0.000103
2016-04-07 14:58:20    0.000021
2016-04-07 14:58:21    0.000062
2016-04-07 14:58:22    0.000021
2016-04-07 14:58:24    0.000041
2016-04-07 14:58:25    0.000021
2016-04-07 14:58:26    0.000041
2016-04-07 14:58:27    0.000041
2016-04-07 14:58:28    0.000041
2016-04-07 14:58:29    0.000062
2016-04-07 14:58:31    0.000041
2016-04-07 14:58:33    0.000041
2016-04-07 14:58:34    0.000041
2016-04-07 14:58:36    0.000062
2016-04-07 14:58:37    0.000021
2016-04-07 14:58:38    0.000021
2016-04-07 14:58:40    0.000021
2016-04-07 14:58:41    0.000021
2016-04-07 14:58:42    0.000041
2016-04-07 14:58:44    0.000062
2016-04-07 14:58:45    0.000021
2016-04-07 14:58:46    0.000021
2016-04-07 14:58:48    0.000062
2016-04-07 14:58:50    0.000062
Name: last_seen, Length: 38474, dtype: float64

Date Crawled was majority in March starting from 5th and some remaining in April , but making any judgement would be a mistake 

Ad Created and LastSeen are splitted evenly

One thing that stands out from the exploration we did in the last screen is that the registration_year column contains some odd values:

The minimum value is 1000, before cars were invented
The maximum value is 9999, many years into the future
Because a car can't be first registered after the listing was seen, any vehicle with a registration year above 2016 is definitely inaccurate. Determining the earliest valid year is more difficult. 
Realistically, it could be somewhere in the first few decades of the 1900s.

In [154]:
autos['registration_year'].describe()

count    48565.000000
mean      2004.755421
std         88.643887
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

### Dealing with Incorrect Registration Year Data

### Instructions

Decide which the highest and lowest acceptable values are for the registration_year column.

Write a markdown cell explaining your decision and why.

Remove the values outside those upper and lower bounds and calculate the distribution of the remaining values using Series.value_counts(normalize=True).

In [155]:
autos['registration_year'].value_counts().sort_index(ascending = False).head(20)

9999       3
9000       1
8888       1
6200       1
5911       1
5000       4
4800       1
4500       1
4100       1
2800       1
2019       2
2018     470
2017    1392
2016    1220
2015     392
2014     663
2013     803
2012    1310
2011    1623
2010    1589
Name: registration_year, dtype: int64

In [156]:
autos['registration_year'].value_counts().sort_index(ascending = True).head(20)

1000    1
1001    1
1111    1
1800    2
1910    5
1927    1
1929    1
1931    1
1934    2
1937    4
1938    1
1939    1
1941    2
1943    1
1948    1
1950    3
1951    2
1952    1
1953    1
1954    2
Name: registration_year, dtype: int64

In [157]:
autos = autos[autos['registration_year'].between(1900,2019)]

years 1800 seems impossible and 2800 is not possible

### Instructions

Explore the unique values in the brand column, and decide on which brands you want to aggregate by.

You might want to select the top 20, or you might want to select those that have over a certain percentage of the total values (e.g. > 5%).

Remember that Series.value_counts() produces a series with index labels, so you can use Series.index attribute to access the labels, should you wish.

Create an empty dictionary to hold your aggregate data.

Loop over your selected brands, and assign the mean price to the dictionary, with the brand name as the key.

Print your dictionary of aggregate data, and write a paragraph analyzing the results.

In [158]:
autos['registration_year'].value_counts(normalize = True,dropna = False).sort_index()

1910    0.000103
1927    0.000021
1929    0.000021
1931    0.000021
1934    0.000041
1937    0.000082
1938    0.000021
1939    0.000021
1941    0.000041
1943    0.000021
1948    0.000021
1950    0.000062
1951    0.000041
1952    0.000021
1953    0.000021
1954    0.000041
1955    0.000041
1956    0.000082
1957    0.000041
1958    0.000082
1959    0.000124
1960    0.000474
1961    0.000124
1962    0.000082
1963    0.000165
1964    0.000247
1965    0.000350
1966    0.000453
1967    0.000536
1968    0.000536
          ...
1990    0.007148
1991    0.006983
1992    0.007622
1993    0.008755
1994    0.012957
1995    0.025276
1996    0.028283
1997    0.040190
1998    0.048676
1999    0.059677
2000    0.065012
2001    0.054300
2002    0.051210
2003    0.055598
2004    0.055680
2005    0.060480
2006    0.055001
2007    0.046905
2008    0.045628
2009    0.042950
2010    0.032733
2011    0.033433
2012    0.026985
2013    0.016541
2014    0.013657
2015    0.008075
2016    0.025131
2017    0.028674
2018    0.009682
2019    0.000041
Name: registration_year, Length: 81, dtype: float64

Here we came to know the percentage of vehicles registered that year

### Exploring Price By Brand

In [179]:
autos['brand'].value_counts(normalize = True,dropna = False)

volkswagen        0.212813
opel              0.108641
bmw               0.108641
mercedes_benz     0.095787
audi              0.085858
ford              0.069667
renault           0.047894
peugeot           0.029457
fiat              0.025996
seat              0.018931
skoda             0.016068
nissan            0.015264
mazda             0.015223
smart             0.014296
citroen           0.014111
toyota            0.012586
hyundai           0.009950
sonstige_autos    0.009641
volvo             0.009043
mini              0.008611
mitsubishi        0.008178
honda             0.007993
kia               0.007107
alfa_romeo        0.006612
porsche           0.005912
suzuki            0.005891
chevrolet         0.005665
chrysler          0.003481
dacia             0.002657
daihatsu          0.002513
jeep              0.002204
subaru            0.002101
land_rover        0.002039
saab              0.001627
daewoo            0.001566
jaguar            0.001524
trabant           0.001380
rover             0.001339
lancia            0.001133
lada              0.000597
Name: brand, dtype: float64

volkswagen        0.212813
opel              0.108641
bmw               0.108641
mercedes_benz     0.095787
audi              0.085858
ford              0.069667

dominates the markets

In [180]:
brand = autos['brand'].unique()

In [181]:
brands = autos['brand'].value_counts(normalize = True)
dominate_brands = brands[brands >0.05].index
print(dominate_brands)

Index(['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford'], dtype='object')

In [182]:
selected_brand = {}
for b in dominate_brands:
    selected = autos[autos['brand']==b]
    mean = selected['price'].mean()
    selected_brand[b] = mean

In [183]:
selected_brand

{'volkswagen': 5333.1962055948115,
 'opel': 2941.4664391353813,
 'bmw': 8261.382442169132,
 'mercedes_benz': 8526.623225806452,
 'audi': 9212.9306621881,
 'ford': 3728.4121821407452}

Audi is the most expensive car here , followed by the benz and bmw. The cheapest car is the opel

### Storing Aggregate Data in a DataFrame

We aggregated across brands to understand mean price. We observed that in the top 6 brands, there's a distinct price gap.

Audi, BMW and Mercedes Benz are more expensive
Ford and Opel are less expensive
Volkswagen is in between

For the top 6 brands, let's use aggregation to understand the average mileage for those cars and if there's any visible link with mean price. While our natural instinct may be to display both aggregated series objects and visually compare them, this has a few limitations:

### Instructions

1. Use the loop method from the last screen to calculate the mean mileage and mean price for each of the top brands, storing the results in a dictionary.
2. Convert both dictionaries to series objects, using the series constructor.
3. Create a dataframe from the first series object using the dataframe constructor.
4. Assign the other series as a new column in this dataframe.
5. Pretty print the dataframe, and write a paragraph analyzing the aggregate data.

In [166]:
bmp_series = pd.Series(selected_brand)
print(bmp_series)

volkswagen       5333.196206
opel             2941.466439
bmw              8261.382442
mercedes_benz    8526.623226
audi             9212.930662
ford             3728.412182
dtype: float64

In [167]:
df = pd.DataFrame(bmp_series,columns = ['selected_brand'])
df

               selected_brand
volkswagen        5333.196206
opel              2941.466439
bmw               8261.382442
mercedes_benz     8526.623226
audi              9212.930662
ford              3728.412182

In [190]:
mean_brand = {}
for b in dominate_brands:
    selected = autos[autos['brand']==b]
    mean_mileage = selected['odometer_km'].mean()
    mean_brand[b] = mean_mileage

In [191]:
mean_brand

{'volkswagen': 128955.570612719,
 'opel': 129452.02882062951,
 'bmw': 132682.97307546454,
 'mercedes_benz': 130848.3870967742,
 'audi': 129492.56238003839,
 'ford': 124349.49733885274}

In [177]:
mmp_series = pd.Series(mean_brand)
print(mmp_series)

volkswagen       128955.570613
opel             129452.028821
bmw              132682.973075
mercedes_benz    130848.387097
audi             129492.562380
ford             124349.497339
dtype: float64

In [187]:
mean_price = pd.DataFrame(bmp_series,columns = ['selected_brand'])
mean_price

               selected_brand
volkswagen        5333.196206
opel              2941.466439
bmw               8261.382442
mercedes_benz     8526.623226
audi              9212.930662
ford              3728.412182

In [189]:
df = pd.DataFrame(mmp_series,columns = ['mean_mileage'])
df['mean_price'] = mean_price
df

                mean_mileage   mean_price
volkswagen     128955.570613  5333.196206
opel           129452.028821  2941.466439
bmw            132682.973075  8261.382442
mercedes_benz  130848.387097  8526.623226
audi           129492.562380  9212.930662
ford           124349.497339  3728.412182

it does not really mean expensive car has the best mileage

Identify categorical data that uses german words, translate them and map the values to their english counterparts

In [192]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer_km', 'registration_month', 'fuelType', 'brand',
       'unrepaired_damage', 'ad_created', 'nrOfPictures', 'postalCode',
       'last_seen'],
      dtype='object')

In [193]:
autos['vehicleType'].unique()

array(['bus', 'limousine', 'kleinwagen', 'kombi', nan, 'coupe', 'suv',
       'cabrio', 'andere'], dtype=object)

In [194]:
autos['gearbox'].unique()

array(['manuell', 'automatik', nan], dtype=object)

In [195]:
autos['fuelType'].unique()

array(['lpg', 'benzin', 'diesel', nan, 'cng', 'hybrid', 'elektro',
       'andere'], dtype=object)

In [196]:
autos['unrepaired_damage'].unique()

array(['nein', nan, 'ja'], dtype=object)

In [197]:
words_translated = {'bus':'bus',
                    'limousine':'limousine',
                    'kleinwagen':'supermini',
                    'kombi':'station_wagon',
                    'coupe':'coupe', 
                    'suv':'suv',
                    'cabrio':'cabrio',
                    'andere':'other',
                    'manuell':'manual', 
                    'automatik':'automatic',
                    'lpg': 'lpg',
                    'benzin':'petrol',
                    'diesel':'diesel',
                    'cng':'cng',
                    'hybrid':'hybrid',
                    'elektro':'electro',
                    'nein':'no',
                    'ja':'yes'
                    
    
}

In [199]:
for each in ['vehicleType', 'gearbox','fuelType','unrepaired_damage']:
    autos[each] = autos[each].map(words_translated)

In [201]:
autos['vehicleType'].unique()

array(['bus', 'limousine', 'supermini', 'station_wagon', nan, 'coupe',
       'suv', 'cabrio', 'other'], dtype=object)

In [202]:
autos['gearbox'].unique()

array(['manual', 'automatic', nan], dtype=object)

In [203]:
autos['unrepaired_damage'].unique()

array(['no', nan, 'yes'], dtype=object)

In [204]:
autos['fuelType'].unique()

array(['lpg', 'petrol', 'diesel', nan, 'cng', 'hybrid', 'electro',
       'other'], dtype=object)