In [1]:
import pandas as pd

In [95]:
f500 = pd.read_csv("C:/Users/obalana prosper/Videos/New folder (3)/f500.csv",index_col = 0)
print("f500 added successfully")

f500 added successfully

### Introduction to data

In [12]:
f500_type = type(f500)
f500_type

pandas.core.frame.DataFrame

In [13]:
f500.shape

(500, 17)

### Introduction to Dataframes

In [14]:
f500.head(6)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
5,Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753

In [15]:
f500.tail(8)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
492,Telecom Italia,493,21941,-17.4,1999.4,74295,NaN,Flavio Cattaneo,Telecommunications,Telecommunications,404,Italy,"Milan, Italy",http://www.telecomitalia.com,18,61227,22366
493,Xiamen ITG Holding Group,494,21930,34.3,35.6,12161,-25.1,Xu Xiaoxi,Trading,Wholesalers,0,China,"Xiamen, China",http://www.itgholding.com.cn,1,18454,1066
494,Xinjiang Guanghui Industry Investment,495,21919,31.1,251.8,31957,49.9,Shang Jiqiang,Trading,Wholesalers,0,China,"Urumqi, China",http://www.guanghui.com,1,65616,4563
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [17]:
print(f500.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
company                     500 non-null object
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(7)
memory usage: 66.5+ KB
None

### Selecting a Column from a DataFrame by Label

In [21]:
industries = f500.loc[:,'industry']
print(type(industries))

<class 'pandas.core.series.Series'>

In [27]:
col = [1,2,4,11]

In [106]:
f500_selection = f500[0:5]

In [107]:
f500_selection = f500_selection.loc[:,['company','rank','revenues','profits','country']]

C:\Users\obalana prosper\Videos\New folder\New folder\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [49]:
f500_selection =f500_selection.set_index('company')

In [108]:
f500_selection.loc[:,'rank']

company
Walmart                     1
State Grid                  2
Sinopec Group               3
China National Petroleum    4
Toyota Motor                5
Name: rank, dtype: int64

In [51]:
f500_selection.loc[:,["country","rank"]]

                         country  rank
company
Walmart                      USA     1
State Grid                 China     2
Sinopec Group              China     3
China National Petroleum   China     4
Toyota Motor               Japan     5

In [52]:
f500_selection[['country','rank']]

                         country  rank
company
Walmart                      USA     1
State Grid                 China     2
Sinopec Group              China     3
China National Petroleum   China     4
Toyota Motor               Japan     5

In [58]:
countries = f500.loc[:,'country']
revenues_years = f500[['revenues','years_on_global_500_list']]
ceo_to_sector = f500.loc[:,'ceo':'sector']

In [56]:
ceo_to_sector.head()

                   ceo                  industry                  sector
0  C. Douglas McMillon     General Merchandisers               Retailing
1              Kou Wei                 Utilities                  Energy
2            Wang Yupu        Petroleum Refining                  Energy
3        Zhang Jianhua        Petroleum Refining                  Energy
4          Akio Toyoda  Motor Vehicles and Parts  Motor Vehicles & Parts

### Selecting Rows by labels

In [63]:
single_row = f500_selection.loc['Sinopec Group']

In [64]:
print(single_row)

rank             3
revenues    267518
profits     1257.9
country      China
Name: Sinopec Group, dtype: object

In [78]:
toyota = f500.loc['Toyota Motor']

In [79]:
toyota.head()

rank                    5
revenues           254694
revenue_change        7.7
profits           16899.3
assets             437575
Name: Toyota Motor, dtype: object

In [96]:
middle_companies = f500.loc['Tata Motors':'Nationwide','rank':'country']

In [99]:
middle_companies.head()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country
company,,,,,,,,,,,
Tata Motors,247,40329,-4.2,1111.6,42162,-34.0,Guenter Butschek,Motor Vehicles and Parts,Motor Vehicles & Parts,226,India
Aluminum Corp. of China,248,40278,6.0,-282.5,75089,NaN,Yu Dehui,Metals,Materials,262,China
Mitsui,249,40275,1.6,2825.3,103231,NaN,Tatsuo Yasunaga,Trading,Wholesalers,245,Japan
Manulife Financial,250,40238,49.4,2209.7,537461,28.9,Donald A. Guloien,"Insurance: Life, Health (stock)",Financials,394,Canada
China Minsheng Banking,251,40234,-5.2,7201.6,848389,-1.8,Zheng Wanchun,Banks: Commercial and Savings,Financials,221,China

In [98]:
drink_companies = f500.loc[["Anheuser-Busch InBev","Coca-Cola","Heineken Holding"]]

In [100]:
drink_companies

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Anheuser-Busch InBev,206,45905,5.3,1241.0,258381,-85.0,Carlos Brito,Beverages,"Food, Beverages & Tobacco",211,Belgium,"Leuven, Belgium",http://www.ab-inbev.com,12,206633,71339
Coca-Cola,235,41863,-5.5,6527.0,87270,-11.2,James B. Quincey,Beverages,"Food, Beverages & Tobacco",206,USA,"Atlanta, GA",http://www.coca-colacompany.com,23,100300,23062
Heineken Holding,468,23044,-0.7,861.5,41469,-18.9,Jean-Francois van Boxmeer,Beverages,"Food, Beverages & Tobacco",459,Netherlands,"Amsterdam, Netherlands",http://www.theheinekencompany.com,11,73525,6958

### Value_counts Method

In [104]:
sectors = f500['sector']

In [105]:
sectors.value_counts()

Financials                       118
Energy                            80
Technology                        44
Motor Vehicles & Parts            34
Wholesalers                       28
Health Care                       27
Food & Drug Stores                20
Transportation                    19
Telecommunications                18
Retailing                         17
Materials                         16
Food, Beverages & Tobacco         16
Industrials                       15
Aerospace & Defense               14
Engineering & Construction        13
Chemicals                          7
Business Services                  3
Media                              3
Hotels, Restaurants & Leisure      3
Household Products                 3
Apparel                            2
Name: sector, dtype: int64

In [115]:
countries = f500['country']

In [116]:
countries_counts = countries.value_counts()

In [117]:
countries_counts

USA             132
China           109
Japan            51
France           29
Germany          29
Britain          24
South Korea      15
Switzerland      14
Netherlands      14
Canada           11
Spain             9
Brazil            7
Australia         7
India             7
Italy             7
Taiwan            6
Ireland           4
Russia            4
Sweden            3
Singapore         3
Mexico            2
Belgium           1
Norway            1
Luxembourg        1
Saudi Arabia      1
Finland           1
Denmark           1
Turkey            1
Israel            1
Venezuela         1
Thailand          1
Indonesia         1
U.A.E             1
Malaysia          1
Name: country, dtype: int64

In [118]:
india = countries_counts['India']

In [119]:
north_america = countries_counts[['USA','Canada','Mexico']]

In [120]:
north_america

USA       132
Canada     11
Mexico      2
Name: country, dtype: int64

### Summary Challenge

In [122]:
big_movers = f500.loc[['Aviva','HP','JD.com','BHP Billiton'],['rank','previous_rank']]

In [123]:
bottom_companies = f500.loc['National Grid':'AutoNation',['rank','sector','country']]

In [124]:
bottom_companies.head()

                                       rank              sector  country
company
National Grid                           491              Energy  Britain
Dollar General                          492           Retailing      USA
Telecom Italia                          493  Telecommunications    Italy
Xiamen ITG Holding Group                494         Wholesalers    China
Xinjiang Guanghui Industry Investment   495         Wholesalers    China

In [125]:
big_movers.head()

              rank  previous_rank
company
Aviva           90            279
HP             194             48
JD.com         261            366
BHP Billiton   350            168

# Exploring Data With Pandas Fundamentals

### Vectorized Operation

In [126]:
rank_change = f500['rank'] - f500['previous_rank']

### Series Data Exploration Methods

In [128]:
rank_change_max = rank_change.max()
rank_change_min = rank_change.min()

In [129]:
print(rank_change_max)
print(rank_change_min)

500
-226

### Series Describe Method

In [130]:
rank = f500['rank']
rank_desc = rank.describe()

In [131]:
previous_rank = f500['previous_rank']
previous_rank_desc = previous_rank.describe()

In [132]:
print(rank_desc)
print(previous_rank_desc)

count    500.000000
mean     250.500000
std      144.481833
min        1.000000
25%      125.750000
50%      250.500000
75%      375.250000
max      500.000000
Name: rank, dtype: float64
count    500.000000
mean     222.134000
std      146.941961
min        0.000000
25%       92.750000
50%      219.500000
75%      347.250000
max      500.000000
Name: previous_rank, dtype: float64

### Method Chaining

Use the series.value_counts() and series.loc to return the number of companies with a value of 0 in the previous rank column with value 0

In [134]:
print(f500['previous_rank'].value_counts().loc[0])

33

### DF exploration Method

In [135]:
max_f500 = f500.max(numeric_only = True)

In [136]:
f500_desc = f500.describe()

In [137]:
f500_desc

,rank,revenues,revenue_change,profits,assets,profit_change,previous_rank,years_on_global_500_list,employees,total_stockholder_equity
count,500.000000,500.000000,498.000000,499.000000,5.000000e+02,436.000000,500.000000,500.000000,5.000000e+02,500.000000
mean,250.500000,55416.358000,4.538353,3055.203206,2.436323e+05,24.152752,222.134000,15.036000,1.339983e+05,30628.076000
std,144.481833,45725.478963,28.549067,5171.981071,4.851937e+05,437.509566,146.941961,7.932752,1.700878e+05,43642.576833
min,1.000000,21609.000000,-67.300000,-13038.000000,3.717000e+03,-793.700000,0.000000,1.000000,3.280000e+02,-59909.000000
25%,125.750000,29003.000000,-5.900000,556.950000,3.658850e+04,-22.775000,92.750000,7.000000,4.293250e+04,7553.750000
50%,250.500000,40236.000000,0.550000,1761.600000,7.326150e+04,-0.350000,219.500000,17.000000,9.291050e+04,15809.500000
75%,375.250000,63926.750000,6.975000,3954.000000,1.805640e+05,17.700000,347.250000,23.000000,1.689172e+05,37828.500000
max,500.000000,485873.000000,442.300000,45687.000000,3.473238e+06,8909.500000,500.000000,23.000000,2.300000e+06,301893.000000

### Assignment with pandas

In [147]:
f500.loc['Dow Chemical','ceo'] = 'Jim Filtering'

### Using Boolean Indexing

In [150]:
motor_bool = f500['industry'] == 'Motors Vechicles and Parts'
motor_countries = f500.loc[motor_bool,'country']

In [151]:
motor_countries

Series([], Name: country, dtype: object)

In [159]:
import numpy as np
prev_rank_before = f500.loc[f500['previous_rank'] == 0, 'previous_rank'] = np.nan

In [160]:
prev_rank_before

nan

In [161]:
f500['previous_rank'].value_counts(dropna=False).head()

NaN       33
 471.0     1
 234.0     1
 125.0     1
 166.0     1
Name: previous_rank, dtype: int64

### Creating New Columns

In [162]:
f500['rank_change'] = f500['rank'] - f500['previous_rank']

In [164]:
f500['rank_change'].describe()

count    467.000000
mean       3.533191
std       44.293603
min     -226.000000
25%      -10.000000
50%        2.000000
75%       21.000000
max      199.000000
Name: rank_change, dtype: float64

### Top two countries

In [165]:
top_2_countries = f500['country'].value_counts().head(2)

In [166]:
top_2_countries

USA      122
China     99
Name: country, dtype: int64

In [195]:
a = f500['country'] == 'USA'
b = f500.loc[a,'industry']

In [196]:
b.value_counts().head()

Banks: Commercial and Savings               8
Insurance: Property and Casualty (Stock)    6
Aerospace and Defense                       6
Pharmaceuticals                             6
Petroleum Refining                          6
Name: industry, dtype: int64

In [192]:
f500.loc[f500['country']=='USA','industry'].value_counts().head()

Banks: Commercial and Savings               8
Insurance: Property and Casualty (Stock)    6
Aerospace and Defense                       6
Pharmaceuticals                             6
Petroleum Refining                          6
Name: industry, dtype: int64

In [198]:
c = f500['country'] == 'China'
d = f500.loc[c,'sector']

In [199]:
d.value_counts().head()

Financials                    22
Energy                        22
Engineering & Construction     8
Motor Vehicles & Parts         7
Materials                      7
Name: sector, dtype: int64

### Using iloc to select integer position

In [205]:
fifth_row = f500.iloc[4]
fifth_row

rank                                                   5
revenues                                          254694
revenue_change                                       7.7
profits                                          16899.3
assets                                            437575
profit_change                                      -12.3
ceo                                          Akio Toyoda
industry                        Motor Vehicles and Parts
sector                            Motor Vehicles & Parts
previous_rank                                          8
country                                            Japan
hq_location                                Toyota, Japan
website                     http://www.toyota-global.com
years_on_global_500_list                              23
employees                                         364445
total_stockholder_equity                          157210
rank_change                                           -3
Name: Toyota Motor, dtype: object

In [204]:
company_value = f500.iloc[0,0]
company_value

1.0

In [206]:
first_three_rows = f500.iloc[:3]

In [207]:
first_three_rows

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
company,,,,,,,,,,,,,,,,,
Walmart,1.0,485873.0,0.8,13643.0,198825.0,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23.0,2300000.0,77798.0,0.0
State Grid,2.0,315199.0,-4.4,9571.3,489838.0,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17.0,926067.0,209456.0,0.0
Sinopec Group,3.0,267518.0,-9.1,1257.9,310726.0,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19.0,713288.0,106523.0,-1.0

In [210]:
first_seventh_row_slice = f500.iloc[[0,6],:5]
first_seventh_row_slice

                   rank  revenues  revenue_change  profits    assets
company
Walmart             1.0  485873.0             0.8  13643.0  198825.0
Royal Dutch Shell   7.0  240033.0           -11.8   4575.0  411275.0

###  Creating Boolean Mask

In [227]:
f500 = pd.read_csv("C:/Users/obalana prosper/Videos/New folder (3)/f500.csv")
print("f500 added successfully")

f500 added successfully

In [228]:
rev_isnull = f500['revenue_change'].isnull()
rev_isnull.head()

0    False
1    False
2    False
3    False
4    False
Name: revenue_change, dtype: bool

In [232]:
prev = f500['previous_rank'].isnull()
prev_change = f500[prev]
prev_isnull = prev_change[['company','rank','previous_rank']]

In [234]:
col = ['company','revenues','country']
f500_sel = f500[col].head()
f500_sel

                    company  revenues country
0                   Walmart    485873     USA
1                State Grid    315199   China
2             Sinopec Group    267518   China
3  China National Petroleum    262573   China
4              Toyota Motor    254694   Japan

In [238]:
over_265 = f500_sel['revenues']>265000
china = f500_sel['country'] == 'China'
combined = over_265 & china

In [239]:
final_cols = ['company','revenues']
result = f500_sel.loc[combined,final_cols]

In [240]:
result

         company  revenues
1     State Grid    315199
2  Sinopec Group    267518

In [261]:
revenue = f500['revenues']>100000

In [262]:
neg= f500['profits']<0

In [263]:
combined = revenue & neg

In [281]:
combined.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [277]:
brazil_venezuela = f500[(f500['country']=='Brazil') | (f500['country']=='Venezuela')].head()

In [278]:
brazil_venezuela

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
74,Petrobras,75,81405,-16.3,-4838.0,246983,NaN,Pedro Pullen Parente,Petroleum Refining,Energy,58,Brazil,"Rio de Janeiro, Brazil",http://www.petrobras.com.br,23,68829,76779
112,Itau Unibanco Holding,113,66876,21.4,6666.4,415972,-13.7,Candido Botelho Bracher,Banks: Commercial and Savings,Financials,159,Brazil,"Sao Paulo, Brazil",http://www.itau.com.br,4,94779,37680
150,Banco do Brasil,151,58093,-13.4,2013.8,426416,-52.3,Paulo Rogerio Caffarelli,Banks: Commercial and Savings,Financials,115,Brazil,"Brasilia, Brazil",http://www.bb.com.br,23,100622,26551
153,Banco Bradesco,154,57443,31.3,5127.9,366418,-5.7,Luiz Carlos Trabuco Cappi,Banks: Commercial and Savings,Financials,209,Brazil,"Osasco, Brazil",http://www.bradesco.com.br,21,94541,32369
190,JBS,191,48825,-0.1,107.7,31605,-92.3,Wesley Mendonca Batista,Food Production,"Food, Beverages & Tobacco",185,Brazil,"Sao Paulo, Brazil",http://jbss.infoinvest.com.br,8,237061,7307

In [279]:
tech_outside_usa = f500[(f500['sector'] =='Technology') &~ (f500['country'] =='USA')].head()

In [280]:
tech_outside_usa

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
14,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476
70,Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632
82,Huawei Investment & Holding,83,78511,24.9,5579.4,63837,-5.0,Ren Zhengfei,Network and Other Communications Equipment,Technology,129,China,"Shenzhen, China",http://www.huawei.com,8,180000,20159
104,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415

### Sorting Values

In [283]:
selected_rows = f500[f500['country']=='China']

In [284]:
selected_rows.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
21,Industrial & Commercial Bank of China,22,147675,-11.7,41883.9,3473238,-5.0,Gu Shu,Banks: Commercial and Savings,Financials,15,China,"Beijing, China",http://www.icbc-ltd.com,19,461749,283438
23,China State Construction Engineering,24,144505,3.1,2492.9,201269,10.7,Guan Qing,"Engineering, Construction",Engineering & Construction,27,China,"Beijing, China",http://www.cscec.com,6,263915,15344

In [286]:
sorted_rows = selected_rows.sort_values('employees')
print(sorted_rows[['company','country','employees']].head())

                                company country  employees
204                         Noble Group   China       1000
458             Yango Financial Holding   China      10234
438  China National Aviation Fuel Group   China      11739
128                         Tewoo Group   China      17353
182            Amer International Group   China      17852

In [287]:
sorted_rows = selected_rows.sort_values('employees',ascending = False)
print(sorted_rows[['company','country','employees']].head())

                        company country  employees
3      China National Petroleum   China    1512048
118            China Post Group   China     941211
1                    State Grid   China     926067
2                 Sinopec Group   China     713288
37   Agricultural Bank of China   China     501368

In [290]:
japan = f500[f500['country'] == 'Japan']

In [291]:
japan_sort = japan.sort_values('employees', ascending = False)

In [294]:
japan_selected = japan_sort.iloc[0]

In [296]:
top_japan_employer = japan_selected['company']

### Using Loops with pandas

In [297]:
avg_rev_by_country = {}
countries = f500['country'].unique()
for c in countries:
    selected_rows = f500[f500['country']==c]
    mean = selected_rows['revenues'].mean()
    avg_rev_by_country[c] = mean

In [298]:
avg_rev_by_country

{'USA': 64218.371212121216,
 'China': 55397.880733944956,
 'Japan': 53164.03921568627,
 'Germany': 63915.0,
 'Netherlands': 61708.92857142857,
 'Britain': 51588.708333333336,
 'South Korea': 49725.6,
 'Switzerland': 51353.57142857143,
 'France': 55231.793103448275,
 'Taiwan': 46364.666666666664,
 'Singapore': 54454.333333333336,
 'Italy': 51899.57142857143,
 'Russia': 65247.75,
 'Spain': 40600.666666666664,
 'Brazil': 52024.57142857143,
 'Mexico': 54987.5,
 'Luxembourg': 56791.0,
 'India': 39993.0,
 'Malaysia': 49479.0,
 'Thailand': 48719.0,
 'Australia': 33688.71428571428,
 'Belgium': 45905.0,
 'Norway': 45873.0,
 'Canada': 31848.0,
 'Ireland': 32819.5,
 'Indonesia': 36487.0,
 'Denmark': 35464.0,
 'Saudi Arabia': 35421.0,
 'Sweden': 27963.666666666668,
 'Finland': 26113.0,
 'Venezuela': 24403.0,
 'Turkey': 23456.0,
 'U.A.E': 22799.0,
 'Israel': 21903.0}

In [300]:
top_employer_by_country = {}
countries = f500['country'].unique()
for c in countries:
    selected_rows = f500[f500['country']== c]
    sorted_row = selected_rows.sort_values('employees',ascending = False)
    company = sorted_row.iloc[0]['company']
    top_employer_by_country[c] = company

In [301]:
top_employer_by_country

{'USA': 'Walmart',
 'China': 'China National Petroleum',
 'Japan': 'Toyota Motor',
 'Germany': 'Volkswagen',
 'Netherlands': 'EXOR Group',
 'Britain': 'Compass Group',
 'South Korea': 'Samsung Electronics',
 'Switzerland': 'Nestle',
 'France': 'Sodexo',
 'Taiwan': 'Hon Hai Precision Industry',
 'Singapore': 'Flex',
 'Italy': 'Poste Italiane',
 'Russia': 'Gazprom',
 'Spain': 'Banco Santander',
 'Brazil': 'JBS',
 'Mexico': 'America Movil',
 'Luxembourg': 'ArcelorMittal',
 'India': 'State Bank of India',
 'Malaysia': 'Petronas',
 'Thailand': 'PTT',
 'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Norway': 'Statoil',
 'Canada': 'George Weston',
 'Ireland': 'Accenture',
 'Indonesia': 'Pertamina',
 'Denmark': 'Maersk Group',
 'Saudi Arabia': 'SABIC',
 'Sweden': 'H & M Hennes & Mauritz',
 'Finland': 'Nokia',
 'Venezuela': 'Mercantil Servicios Financieros',
 'Turkey': 'Koc Holding',
 'U.A.E': 'Emirates Group',
 'Israel': 'Teva Pharmaceutical Industries'}

In [303]:
f500['roa'] = f500['profits']/f500['assets']

In [309]:
top_roa_sector = {}
sectors = f500['sector'].unique()
for s in sectors:
    selected_rows = f500[f500['sector']==s]
    sorted_rows = selected_rows.sort_values('roa',ascending = False)
    company = sorted_rows.iloc[0]['company']
    top_roa_sector[s] = company

In [312]:
top_roa_sector

{'Retailing': 'H & M Hennes & Mauritz',
 'Energy': 'National Grid',
 'Motor Vehicles & Parts': 'Subaru',
 'Financials': 'Berkshire Hathaway',
 'Technology': 'Accenture',
 'Wholesalers': 'McKesson',
 'Health Care': 'Gilead Sciences',
 'Telecommunications': 'KDDI',
 'Engineering & Construction': 'Pacific Construction Group',
 'Industrials': '3M',
 'Food & Drug Stores': 'Publix Super Markets',
 'Aerospace & Defense': 'Lockheed Martin',
 'Food, Beverages & Tobacco': 'Philip Morris International',
 'Household Products': 'Unilever',
 'Transportation': 'Delta Air Lines',
 'Materials': 'CRH',
 'Chemicals': 'LyondellBasell Industries',
 'Media': 'Disney',
 'Apparel': 'Nike',
 'Hotels, Restaurants & Leisure': 'McDonalds',
 'Business Services': 'Adecco Group'}